<div class="survey shadow-lg p-1 mb-5 bg-white rounded bg-light">
  <div class="container">
    <form (ngSubmit)="onSubmit()" #surveyForm="ngForm" *ngIf="survey">
      <div class="row title">
        <div class="col-xs-12">
          <h1>{{ survey.title }}</h1>
        </div>
      </div>
      <div *ngFor="let question of survey.questions; let i = index">
        <div class="row question">
          <div class="col-xs-12">
            <h3>{{ question.ordinal }}. {{ question.question }}</h3>
          </div>
        </div>
        <div *ngFor="let answer of question.answers; let j = index">
          <div class="row answer">
            <div class="col-xs-12">
              <input
                [id]="'answer' + i + j"
                class="form-check-input"
                ngModel
                required
                type="radio"
                [name]="question.ordinal"
                [value]="answer.ordinal"
              />
              <label [for]="'answer' + i + j"
                >{{ answer.ordinal }}) {{ answer.answer }}</label
              >
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row ml-1">
        <button
          id="fill-btn"
          class="btn btn-primary ml-auto mr-1"
          type="submit"
          [disabled]="!surveyForm.valid"
        >
          Fill
        </button>
      </div>
    </form>
  </div>
</div>
