#survey-json {
  width: 40rem;
  height: 30rem;
}

.row {
  margin-left: 5rem;
  margin-right: 5rem;
}

#example-btn {
  margin-bottom: 0.5rem;
  margin-left: 25rem;
}

#example {
  width: 20rem;
  height: 35rem;
  margin-left: 10rem;
  border: none;
  background-color: white;
  overflow: hidden;
}

button {
  margin: 0.5rem;
}

#save-btn{
  margin-left: 35rem;
}

.alert {
  width: 40rem;
  text-align: center;
}
