<div class="container-fluid">
  <div *ngIf="surveyFilled" class="row">
    <div class="alert alert-success" role="alert">
      {{ surveyFilled }}
    </div>
  </div>
  <div class="row" *ngIf="surveyError">
    <div class="alert alert-danger" role="alert">
      {{ surveyError }}
    </div>
  </div>
  <div *ngIf="!surveys">
    <div class="row">
      <h4>Currently there are no surveys available</h4>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button routerLink="/new" class="btn btn-info">
          Add new survey
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-20">
      <table class="table" *ngIf="surveys">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Questions</th>
            <th scope="col">Fill</th>
            <th scope="col">Show Result</th>
          </tr>
        </thead>
        <tbody *ngFor="let survey of surveys; let i = index">
          <tr>
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ survey.survey.title }}</td>
            <td>{{ survey.survey.questions.length }}</td>
            <td>
              <svg
                (click)="fillSurvey(survey.id)"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-clipboard"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"
                />
                <path
                  fill-rule="evenodd"
                  d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"
                />
              </svg>
            </td>
            <td>
              <svg
                (click)="showResults(survey.id)"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-info-square"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
                />
                <path
                  d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"
                />
                <circle cx="8" cy="4.5" r="1" />
              </svg>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-20">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
